$prm: #344955;

$prm-800: #23343e;
$prm-700: #425c6a;
$prm-600: #517081;
$prm-500: #5d7f92;
$prm-400: #7592a3;
$prm-300: #8da6b5;
$prm-200: #adc0cb;
$prm-100: #cbd9e1;
$prm-50: #e8f0f6;


$aux: #f9aa33;

$aux-800: #f48226;
$aux-700: #fcc13b;
$aux-600: #ffd942;
$aux-500: #fbe642;
$aux-400: #fdeb5d;
$aux-300: #fff07b;
$aux-200: #fff5a0;
$aux-100: #fff9c6;
$aux-50: #fffde8;

$ext-ligth: #fff;
$ext-dark: #000;

$shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 2px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 33px -8px rgba(0, 0, 0, 0.12);

$background: #eceff2;